includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
    tmpDir: .tmp/PHPStan
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue

    # PHPUnit 10
    # - "#Call to an undefined static method PHPUnit\\\\Framework\\\\Assert\\:\\:#"
