parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Realodix\\\\NextProject\\\\Assertion\\:\\:\\$value\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Class PHPUnit\\\\Framework\\\\Constraint\\\\IsEqual constructor invoked with 5 parameters, 1\\-4 required\\.$#"
			count: 2
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:__get\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:contains\\(\\) has parameter \\$needle with no typehint specified\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:directoryExists\\(\\) invoked with 2 parameters, 0\\-1 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:markupHasElementWithAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:markupNotHasElementWithAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:notContains\\(\\) has parameter \\$needle with no typehint specified\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:objectEquals\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Parameter \\#1 \\$class of function class_exists expects string, Realodix\\\\NextProject\\\\Traits\\\\Closure\\|string given\\.$#"
			count: 2
			path: src/Assertion.php

		-
			message: "#^Parameter \\#1 \\$needle of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringContainsString\\(\\) expects string, Realodix\\\\NextProject\\\\Traits\\\\Closure\\|string given\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Parameter \\#3 \\$canonicalize of class PHPUnit\\\\Framework\\\\Constraint\\\\IsEqual constructor expects bool, int given\\.$#"
			count: 2
			path: src/Assertion.php

		-
			message: "#^Parameter \\$exception of method Realodix\\\\NextProject\\\\Assertion\\:\\:throw\\(\\) has invalid typehint type Realodix\\\\NextProject\\\\Traits\\\\Closure\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFileEquals\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFileEquals\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFileNotEquals\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFileNotEquals\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringEqualsFile\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringEqualsFile\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringNotEqualsFile\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringNotEqualsFile\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Expression \"\\$this\\-\\>original\\-\\>\\{\\$name\\}\" on a separate line does not do anything\\.$#"
			count: 1
			path: src/Opposite.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Opposite\\:\\:__call\\(\\) should return Realodix\\\\NextProject\\\\Assertion but return statement is missing\\.$#"
			count: 1
			path: src/Opposite.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Opposite\\:\\:__get\\(\\) should return Realodix\\\\NextProject\\\\Assertion but return statement is missing\\.$#"
			count: 1
			path: src/Opposite.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$name$#"
			count: 1
			path: src/Opposite.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Support\\\\Constraint\\\\ObjectEquals\\:\\:__construct\\(\\) has parameter \\$object with no typehint specified\\.$#"
			count: 1
			path: src/Support/Constraint/ObjectEquals.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Support\\\\Dom\\:\\:flattenAttributeArray\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Support/Dom.php

		-
			message: "#^Parameter \\#1 \\$node of method DOMDocument\\:\\:importNode\\(\\) expects DOMNode, DOMNode\\|null given\\.$#"
			count: 1
			path: src/Support/Dom.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: src/Support/Dom.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Support\\\\Validator\\:\\:actualValue\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Support/Validator.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Support\\\\Validator\\:\\:expectedValue\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Support/Validator.php

