parameters:
	ignoreErrors:
		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:__get\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:contains\\(\\) has parameter \\$needle with no typehint specified\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:directoryExists\\(\\) invoked with 2 parameters, 0\\-1 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:markupHasElementWithAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:markupNotHasElementWithAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:notContains\\(\\) has parameter \\$needle with no typehint specified\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Assertion\\:\\:objectEquals\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFileEquals\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFileEquals\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFileNotEquals\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertFileNotEquals\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringEqualsFile\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringEqualsFile\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringNotEqualsFile\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringNotEqualsFile\\(\\) invoked with 5 parameters, 2\\-3 required\\.$#"
			count: 1
			path: src/Assertion.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\TestCase\\:\\:expectExceptionMessageRegExp\\(\\)\\.$#"
			count: 5
			path: src/Expect.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Expect\\:\\:after\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Expect.php

		-
			message: "#^Parameter \\#1 \\$exception of method PHPUnit\\\\Framework\\\\TestCase\\:\\:expectException\\(\\) expects class\\-string\\<Throwable\\>, string given\\.$#"
			count: 1
			path: src/Expect.php

		-
			message: "#^Class PHPUnit\\\\Framework\\\\Constraint\\\\IsEqual constructor invoked with 5 parameters, 1\\-4 required\\.$#"
			count: 2
			path: src/Extend/AssertMixed.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\AssertMixed\\:\\:fileEqualsString\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\AssertMixed\\:\\:fileEqualsStringIgnoringCase\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\AssertMixed\\:\\:fileNotEqualsString\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\AssertMixed\\:\\:fileNotEqualsStringIgnoringCase\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\AssertMixed\\:\\:stringContainsStringIgnoringLineEndings\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\AssertMixed\\:\\:stringEqualIgnoringLineEndings\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\AssertMixed\\:\\:stringEquals\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\AssertMixed\\:\\:stringNotEquals\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Parameter \\#3 \\$canonicalize of class PHPUnit\\\\Framework\\\\Constraint\\\\IsEqual constructor expects bool, int given\\.$#"
			count: 2
			path: src/Extend/AssertMixed.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertEquals\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertJsonStringEqualsJsonString\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertJsonStringNotEqualsJsonString\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotEquals\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertThat\\(\\) \\(void\\) is used\\.$#"
			count: 8
			path: src/Extend/AssertMixed.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertXmlStringEqualsXmlString\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertXmlStringNotEqualsXmlString\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/AssertMixed.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertContainsSelector\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertElementContains\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertElementNotContains\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertElementNotRegExp\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertElementRegExp\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertHasElementWithAttributes\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertHasElementWithAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertNotContainsSelector\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertNotHasElementWithAttributes\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertNotHasElementWithAttributes\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:assertSelectorCount\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Markup\\:\\:flattenAttributeArray\\(\\) has parameter \\$attributes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Parameter \\#1 \\$node of method DOMDocument\\:\\:importNode\\(\\) expects DOMNode, DOMNode\\|null given\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertEquals\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertGreaterThan\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringContainsString\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringNotContainsString\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Markup.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Modified\\:\\:assertContains\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Modified\\:\\:assertContains\\(\\) has parameter \\$haystack with no typehint specified\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Modified\\:\\:assertContains\\(\\) has parameter \\$needle with no typehint specified\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Modified\\:\\:assertNotContains\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Modified\\:\\:assertNotContains\\(\\) has parameter \\$haystack with no typehint specified\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Modified\\:\\:assertNotContains\\(\\) has parameter \\$needle with no typehint specified\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Modified\\:\\:assertStringEqualsFile\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Extend\\\\Modified\\:\\:assertStringNotEqualsFile\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertContains\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertJsonStringEqualsJsonFile\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertJsonStringNotEqualsJsonFile\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotContains\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringContainsString\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringEqualsFile\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringNotContainsString\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringNotEqualsFile\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertXmlStringEqualsXmlFile\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Result of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertXmlStringNotEqualsXmlFile\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Extend/Modified.php

		-
			message: "#^Expression \"\\$this\\-\\>original\\-\\>\\{\\$name\\}\" on a separate line does not do anything\\.$#"
			count: 1
			path: src/Opposite.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Opposite\\:\\:__call\\(\\) should return Realodix\\\\NextProject\\\\Assertion but return statement is missing\\.$#"
			count: 1
			path: src/Opposite.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Opposite\\:\\:__get\\(\\) should return Realodix\\\\NextProject\\\\Assertion but return statement is missing\\.$#"
			count: 1
			path: src/Opposite.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Support\\\\Constraint\\\\ObjectEquals\\:\\:__construct\\(\\) has parameter \\$object with no typehint specified\\.$#"
			count: 1
			path: src/Support/Constraint/ObjectEquals.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Support\\\\Validator\\:\\:actualValue\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Support/Validator.php

		-
			message: "#^Method Realodix\\\\NextProject\\\\Support\\\\Validator\\:\\:expectedValue\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Support/Validator.php

