<?xml version="1.0"?>
<psalm
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://getpsalm.org/schema/config"
  cacheDirectory=".tmp/Psalm"
  errorBaseline="psalm-baseline.xml"
  findUnusedPsalmSuppress="true"
>
  <projectFiles>
    <directory name="src" />
  </projectFiles>

  <issueHandlers>
    <PropertyNotSetInConstructor errorLevel="info" />
    <InternalClass errorLevel="suppress" />
    <InternalMethod errorLevel="suppress" />
  </issueHandlers>
</psalm>
