<?xml version="1.0"?>
<psalm
    errorBaseline="psalm-baseline.xml">
    <projectFiles>
        <directory name="src" />
    </projectFiles>
    <issueHandlers>
        <DeprecatedMethod errorLevel="info" />
    </issueHandlers>
</psalm>
